<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <script src="./../dist/js/hoyaview.js"></script>
        <header>
        <p>Header</p>
            <nav>
                <h1 class="hidden">Navigator</h1>
                <ul>
                    <li><a href="#">Network Monitor</a></li>
                    <li><a href="#">Version Manager</a></li>
                    <li><a href="#">WorkFlow</a></li>
                    <li><a href="#">Batch</a></li>  
                    <li><a href="#">Summary</a></li>
                    <li><a href="#">Config</a></li>
                </ul>
            </nav>        
        </header>
        <main>
            <p>Main</p>
        </main>
        <footer>
            <p>Footer!!</p>
        </footer>
    </body>
</html>