<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header id="header">
        <p>Header</p>
            <nav>
                <ul>
                    <li id="network"><a href="#">Network Monitor</a></li>
                    <li id="version"><a href="#">Version Manager</a></li>
                    <li id="workflow"><a href="#">WorkFlow</a></li>
                    <li id="batch"><a href="#">Batch</a></li>  
                    <li id="summary"><a href="#">Summary</a></li>
                    <li id="config"><a href="#">Config</a></li>
                </ul>
            </nav>        
        </header>
        <main id="main">
            <p>Main</p>
        </main>
        <footer id="footer">
            <p>Footer!!</p>
        </footer>
        <script src="./../dist/js/hoyaview_publish.js"></script>
    </body>
</html>